# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Groupe4-PJVA-4A3DJV.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rezay\Documents\GitHub\Groupe4-PJVA-4A3DJV\.idea\.idea.Groupe4-PJVA-4A3DJV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
